@charset 'UTF-8';
@font-face {
    font-family: 'fonte1';
    src: url(fontes/Philosopher-Bold.ttf) format('TrueType'), url(fontes/Philosopher-BoldItalic.ttf) format('TrueType'), url(fontes/Philosopher-Italic.ttf) format('TrueType'), url(fontes/Philosopher-Regular.ttf) format('TrueType');
}
body{
    background-color: blanchedalmond;
    font-family:'fonte1', Arial, Helvetica, sans-serif;
    width: 100vh;
    
}
section{
    background-position: center center;
}
h1{
    letter-spacing: 3px;
    font-size: 43px;
    width: 80vw;
    text-align: center;
}
h2{
    width: 80vw;
    text-align: center;
}
p{
    width: 80vw;
    text-justify: auto;
    text-indent: 25px;
    text-align: center;
}
table{
    width: 1000px;
    height: 80px;
    position: relative;
    border-collapse: collapse;
    text-transform: uppercase;
    letter-spacing: 2px;
}
caption{
    background-color: rgba(0, 0, 0, 0.781);
    color: bisque;
    padding: 20px;
    font-family: 'fonte1', Arial, Helvetica, sans-serif,
}
tbody > tr > th{
    position: sticky;
    top: -1px;
    background-color: rgb(56, 56, 56);
}
th{
    background-color: rgb(56, 56, 56);
    font-size: 20px;
    color: white;
    height: 80px;
    
}
th.aj{
    width: 250px;
}
th.aju{
    width: 240px;
}
tbody > tr:nth-child(even){
    background-color: lightgrey;
}
    
td{
    border: 1px solid black;
    text-align: center;
}
td.num{
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
}
footer{
    width: 100vw;
    text-align: center;
    background-color: rgb(63, 63, 63);
    color: bisque;
    margin: 0%;
    padding: 0%;
}
